@import "tailwindcss";

@theme {
  --color-main-color:#6082B6;
}


.profile-blob {
  width: 300px;
  height: 300px;
  background-image: url("/profile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 0px 8px inset;
  overflow: hidden;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 35% 65% 65% 35% / 55% 65% 35% 45%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}