@import "tailwindcss";

@theme {
  --color-main-color: #99c1de;
}

:root {
  --font-Ubuntu: 'Ubuntu', sans-serif;
}

body {
  font-family: var(--font-Ubuntu);
}


/* Text Glittering Effect  */

@layer utilities {
  .shine-wrapper {
    @apply relative inline-block;
  }

  .base-text {
    @apply text-black font-bold;
  }

  .shine-text {
    @apply absolute inset-0 font-bold pointer-events-none;
    color: transparent;
    background: linear-gradient(
      120deg,
      transparent 40%,
      rgba(255, 255, 255, 0.95) 50%,
      transparent 60%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    animation: shine 2.5s linear infinite;
  }

  @keyframes shine {
    to {
      background-position: -200% center;
    }
  }
  
}

/*  Floating Project Pic  */

@keyframes vertical-scroll-animation {
  0% {
    transform: translateY(0);
  }
  99%{
    transform: translateY(-99%);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}


/* Floating Profile Pic  */

.profile-blob {
  width: 300px;
  height: 300px;
  background-image: url("/profile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 0px 8px inset;
  overflow: hidden;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 35% 65% 65% 35% / 55% 65% 35% 45%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 999px;
}
